.my-swal-container {
  background-color: #f5f5f5;
}

.my-swal-title {
  color: #ff5500;
}

.my-swal-content {
  color: #0000ff;
}

.my-swal-confirm-button {
  background-color: #00ff00;
  color: #ffffff;
}